<html>
<head>
<title>
</title>
<body>
</body>
<table width="500" align="center">
  <tr>
  <td>Hello {{ username }}<br>
  <br>
  <form action="/findusers/" method="post" name="searchform">
  <label for="usersearch">find Friends</label><br>
  <input type="text" name="userrequest"/>
  <input type="submit" name="submit" id="submit" value="Find"/>
  </form>
  <a href=" {{ url_for('.logout') }}">logout</a>
</table>
{% block content %} {% endblock %}
</body>
</html>
